body{
    
    color:white;
    background-color: rgb(28, 239, 165);
    background-image: url('model6.avif');
    background-repeat:no-repeat ;
    background-attachment: scroll;
    background-size:cover;
    background-position-x: center;
    backface-visibility: visible;
    

}


h1{
    text-align: center;
    text-shadow: 0 0 10px orange;
    font-size: 30px;
    font-family:sans-serif;
}
h2{
    font-size: 20px;
    font-family:sans-serif;
}

fieldset{
    border-radius: 0 10px 0px 10px;
    background:linear-gradient(45deg, rgb(93, 206, 237),rgba(241, 10, 48,0.3));
    border-right-width: 50px;
    border-left-width: 50px;
    border: none;
    outline: none;
    margin-bottom: 50px;
}
fieldset>legend{
 padding: 10px;
 border: 1px solid black;
 width: 180px;
 text-align: center;
 border-radius: 0 15px 0 15px;
 background:linear-gradient(45deg, rgb(93, 206, 237),rgb(241, 10, 48));

}
table{
    width: 100%;
}
input[type="text"],input[type="date"]
{
    border:none;
    outline: none;
    width: 120px;
    height:20px;
    border-radius: 5px;

}
input[type="text"]:focus
{
    background: rgba(226, 243, 192,0.3);
    color: black;
}
textarea{
    height: 50px;
    width: 160px;
    border-radius: 5px;
    border:none;
    outline: none;
 }
 textarea:focus
 {
    background: rgba(226, 243, 192,0.3);
    color: black;  
 }
#phonenumber
{
    
    font-size: 18px;
}


